{{ define "main" }}

<section class="spacing center">
  <div class="container">

    <div class="internal-header">
      <h1>{{ .Title }}</h1>
    </div>

    <form
      class="grid form"
      name="apply"
      action="/success/"
      netlify
      netlify-honeypot="bot-field"
    >

      <label for="name">
        <span class="visually-hide">
          Twoje imię
        </span>
        <input type="text" id="name" name="name" placeholder="Imię i nazwisko" required aria-required="true" />
      </label>

      <label for="email">
        <span class="visually-hide">
          Twój Email
        </span>
        <input type="email" id="email" name="email" placeholder="Email" required aria-required="true" />
      </label>

      <div class="form__select">
        <label class="visually-hide" for="job-select">Wybierz stanowisko:</label>

        <i></i>

        <select name="jobs" id="job-select" required aria-required="true">

          <option value="">Wybierz stanowisko</option>

          {{ range .Site.Taxonomies.series.careers }}
            <option value="{{ lower .Title }}">{{ .Title }}</option>
          {{ end }}

        </select>
      </div>

      <label class="form__resume custom-file-input" for="resume">

        <span>Prześlij CV</span>

        <input name="resume" id="resume" type="file" accept=".pdf, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />

      </label>

      <label class="visually-hide" for="bot-field">
        Czy jesteś androidem?
        <input type="text" id="bot-field" />
      </label>

      <button class="form__button button" type="submit">Wyślij</button>

    </form>

  </div>
</section>

{{ end }}
