{{ define "main" }}

<section class="list spacing">
  <div class="container">

    <div class="internal-header center">
      <h1>{{ .Title }}</h1>
    </div>

    <ul class="unstyled-list news-list grid grid--three-column grid--list grid--one-col-mobile">

      {{ range .Pages }}

        <li data-restricted="{{ .Params.restricted }}">

          {{ .Render "article" }}

        </li>

      {{ end }}

    </ul>

  </div>

</section>

<section>
    <div class="container">
      <div class="internal-header center">
        <button class="override-btn" onclick="initiateOverride()">Initiate Override</button>
      </div>
    </div>
</section>

<div id="terminal-overlay">
  <div id="terminal"></div>
</div>

{{ end }}
