{{ define "main" }}

<section class="list spacing">
  <div class="container">

    <div class="internal-header center">
      <h1 class="success-text">Access granted</h1>
    </div>

    <form class="grid form ticket-form" name="ticket-form" action="/success-form" netlify netlify-honeypot="bot-field">
      <div class="grid grid-3">
        <label for="fullName">
          <span>Pełne imię i nazwisko</span>
          <input type="text" id="fullName" name="fullName" placeholder="John Doe" required />
        </label>

        <label for="ticketNumber">
          <span>Numer biletu</span>
          <input type="text" id="ticketNumber" name="ticketNumber" placeholder="WY-XXXX-XXXX" required />
        </label>

        <label for="classSelect">
          <span>Klasa podróży</span>
          <select id="classSelect" name="classSelect" required>
            <option value="">Wybierz klasę</option>
            <option value="silver" selected>Silver</option>
            <option value="gold">Gold</option>
            <option value="platinum" disabled>Platinum</option>
          </select>
        </label>
      </div>

      <div class="section-title">Manifest</div>
      <label for="manifest" class="form__resume custom-file-input">
        <span>Opowiedz nam, dlaczego to Ty jesteś idealnym kandydatem na pokład ekspedycji</span>
        <input name="manifest" id="manifest" type="file" required
          accept=".pdf, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
      </label>


      <button type="submit" class="button ticket-form-submit" disabled>Wyślij formularz</button>
    </form>

  </div>
</section>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const token = urlParams.get('token');

  if (!token) {
    window.location.href = '/';
  }

  fetch(`/.netlify/functions/authorize-token?token=${token}`)
    .then(res => {
      if (!res.ok) {
        throw new Error('Unauthorized');
      }
    })
    .catch(() => {
      alert("Dostęp zabroniony lub token wygasł.");
      window.location.href = '/avalon';
    });

</script>

{{ end }}
