{{ define "main" }}

<div class="page single spacing">
  <div class="container container--page">
    <article class="page__content">

      <div class="internal-header center">

        <h1>{{ .Title }}</h1>

        <time
          class="letter-spacing visually-hide"
          datetime="{{ .PublishDate.Format "2006-01-02" }}"
        >
          {{ .PublishDate.Format "January 2, 2006" }}
        </time>

      </div>

      {{ .Content }}

    </article>
  </div>

  {{ if or .PrevInSection .NextInSection }}
    <div class="pagination" data-restricted="true">
      <div class="grid grid--two-column">

        {{ with .PrevInSection }}
          <a class="button pagination-item pagination-item--prev" href="{{ .RelPermalink  }}">
            Poprzedni Post
          </a>
        {{ end }}

        {{ with .NextInSection }}
          <a class="button pagination-item pagination-item--next" href="{{ .RelPermalink  }}">
            Następny Post
          </a>
        {{ end }}

      </div>
    </div>
  {{ end }}

</div>

{{ end }}
