

<section class="mission" id="mission">
  <div class="relative container z-1">

    <div class="center">
      <h2>Nasza misja</h2>
    </div>



    <p class="mission__intro gsap-fade-in">
      Korporacja Weyland-Yutani wykorzystuje naukę, technologię oraz niezrównaną globalną sieć zasobów w dążeniu do Budowania Lepszych Światów.
    </p>

    <div class="grid grid--mission mission__grid gsap-fade-in">

      <div class="mission__grid-item mission__grid-item--text">
        <p>
          Jako największa firma na planecie, wzięliśmy na siebie obowiązek nieustannego eksplorowania, poszerzania granic i odkrywania tego, co kryje się poza naszym niebem. Codziennie nasi biolodzy, naukowcy wojskowi, inżynierowie chemiczni, geolodzy, mechanicy i piloci pracują w całym układzie słonecznym, aby wspierać ludzkie interesy i życie. Od pierwszego komercyjnie opłacalnego androida cybernetycznego Petera Weylanda po wynalazek atmosferycznego procesora – Korporacja Weyland-Yutani nieustannie innowuje i dąży do realizacji lepszego świata.
        </p>
      </div>

      <div class="mission__grid-item">
        <img src="/images/mission-image.jpg" loading="lazy" alt="A barren landscape.">
      </div>

      <div class="mission__graphic">
        <img src="/images/ground-texture-small.jpg" loading="lazy" alt="">
      </div>

    </div>

  </div>
</section>
